# Firebase Admin SDK Configuration
FIREBASE_PROJECT_ID=kaarigar-expo
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@kaarigar-expo.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"

# Optional path to serviceAccountKey.json
FIREBASE_CREDENTIALS_PATH=
